#scan-link, .bi-upc-scan{
    color: var(--white) !important;
}

#click_to_scan{
    /* font-weight: 300; */
    opacity: 0.8;
}

#scan-img-container{
    height: 32rem;
}

#scan-img {
    width: 25rem;
    height: 25rem;
    background: var(--blue-3);
    border-radius: 25rem;
    box-shadow: 0px 0px 20px var(--blue-3) ;
    transition: 0.7s;
    cursor: pointer;
}

#scan-img:hover:not(.scaning-animation){
    box-shadow: 0px 0px 35px var(--blue-3) ;
    width: 24.5rem;
    height: 24.5rem;
}

.scaning-animation {
    animation: scaning 1.5s steps(20) 0s infinite normal both ;
}




@keyframes scaning {
    0% {
        box-shadow: 0px 0px 20px var(--blue-3) ;
        scale: 1;
    }

    50% {
        box-shadow: 0px 0px 100px var(--blue-4) ;
        scale: 0.99;
    }

    100% {
        box-shadow: 0px 0px 20px var(--blue-3) ;
        scale: 1;
    }
}