

<div class="modal modal-lg fade" id="account-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="account-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="account-modalLabel">Account</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>


        <div class="modal-body">


            <h6 class="mb-3">Change Email</h6>
            <div class="input-group mb-3" id="email-input_group">
                <span class="input-group-text" id="email-input">New Email</span>
                <input type="email" id="email" class="form-control" placeholder="email" aria-label="email" aria-describedby="email-input">
            </div>

            <div class="input-group">
                <button class="btn btn-2 w-100">Change</button>
            </div>

            <br><br>



            <h6 class="mb-3">Change Password</h6>
            <div class="input-group mb-3" id="password-input_group">
                <span class="input-group-text" id="password-input">Password</span>
                <input type="password" id="password1" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password-input">
            </div>
            
            <div class="input-group mb-3" id="confirm_password-input_group">
                <span class="input-group-text" id="confirm_password-input">Confirm Password</span>
                <input type="password" id="password2" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="confirm_password-input">
            </div>

            <div class="input-group">
                <button class="btn btn-2 w-100">Change</button>
            </div>




        </div>


        <div class="modal-footer">
            <a href="/logout/" class="btn btn-sm btn-danger me-auto">Logout</a>
        </div>
    </div>

    </div>
</div>