<br><br>
<div class="d-flex justify-content-center">

    <div id="status-container" class="container">
        <h1 class="text-center alert alert-warning poppins-semibold">Medium Risk</h1>
    </div>

</div>

<div class="row w-100">
    <div id="donut-container" class="col-lg-5 m-5">
        <canvas id="donutChart"></canvas>
    </div>

    <div id="line-container" class="col-lg-5 m-5">
        <canvas id="lineChart"></canvas>
    </div>
</div>


<div class="table-responsive rounded rounded-3 m-5" id='attack-table-container'>
    <table class="table fs-5" id="attack-table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">IP</th>
            <th scope="col">Domain</th>
            <th scope="col">Attack</th>
            <th scope="col">Level</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td scope="row">1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <td scope="row">2</td>
            <td>Jacob</td>
            <td>tdornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr>
        <tr>
            <td scope="row">3</td>
            <td>Larry the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
</div>